.news-card__source {
  margin: 0;
  position: absolute;
  bottom: 24px;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}

@media screen and (max-width: 900px) {
  .news-card__source {
    bottom: 16px;
  }
}