@import url(./__heading/analytics__heading.css);
@import url(./__table/analytics__table.css);
@import url(./__table-amount/analytics__table-amount.css);
@import url(./__table-body/analytics__table-body.css);
@import url(./__table-cell/analytics__table-cell.css);
@import url(./__table-date/analytics__table-date.css);
@import url(./__table-footer/analytics__table-footer.css);
@import url(./__table-header-row/analytics__table-header-row.css);
@import url(./__table-header/analytics__table-header.css);
@import url(./__table-heading/analytics__table-heading.css);
@import url(./__table-row/analytics__table-row.css);
@import url(./__table-subheading/analytics__table-subheading.css);
@import url(./__table-value/analytics__table-value.css);

.analytics {
  padding-bottom: 84px;
  background: #F5F6F7;
}

@media screen and (max-width: 768px) {
  .analytics{
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .analytics {
    padding-bottom: 40px;
  }
}