.page {
  margin: auto;
  max-width: 1440px;
  background-color: white;
  font-family: 'Roboto', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  color: #1A1B22;
}