.about__text-container {
  margin-top: calc(100vw / 28);
  transform: translate(0, calc((100vw - 1440px) / 32));
  width: calc(100vw / 1.81);
  max-width: 600px;
}

@media screen and (max-width: 500px) {
  .about__text-container {
    width: 100%;
    transform: none;
    margin-bottom: 32px;
  }
}