.about__text-container {
  margin-top: calc(100vw / 28 + 100vw / 36 + 40px);
  width: calc(100vw / 1.81);
  max-width: 600px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .about__text-container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .about__text-container {
    width: 100%;
    transform: none;
    margin-top: 0;
    margin-bottom: 40px;
  }
}