.search-result__more-button {
  display: block;
  width: 288px;
  height: 64px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: #FFFFFF;
  border-radius: 80px;
  box-shadow: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search-result__more-button:hover {
  cursor: pointer;
  background: rgb(235, 235, 235);
}
