@import url(./_first/analytics__table-date_first.css);
@import url(./_last/analytics__table-date_last.css);

.analytics__table-date {
  width: 104px;
  padding: 0 0 0 3px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 80px;
  color: #1A1B22;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .analytics__table-date {
    width: 80px;
    line-height: 48px;
  }
}