.search__form {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .search__form {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 500px) {
  .search__form {
    width: calc(100% - 32px);
    padding-bottom: 32px;
  }
}