.preloader {
	display: block;
	width: 74px;
	height: 74px;
	margin: 80px auto 0;
	border: 2px solid #DDD;
	border-bottom-color: #bbb;
	border-radius: 50%;
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}