.statistics__location {
  margin: 40px 0 80px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .statistics__location {
    margin: 32px 0 64px;
  }
}

@media screen and (max-width: 500px) {
  .statistics__location {
    display: none;
  }
}