.news-card__heading {
  margin: 0 0 16px;
  overflow-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

@media screen and (max-width: 900px) {
  .news-card__heading {    
    margin: 0 0 10px;
    font-size: 22px;
    line-height: 24px;
  }
}