.statistics__stats {
  margin: 0 0 80px;
}

@media screen and (max-width: 768px) {
  .statistics__stats {
    margin: 0 0 50px;
  }
}

@media screen and (max-width: 500px) {
   .statistics__stats {
     margin: 0 0 30px;
   }
}