.analytics__table-heading {
  padding-bottom: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  text-align: left;
  vertical-align: top;
}
.analytics__table-heading:first-of-type {
  padding-right: 30px;
}

@media screen and (max-width: 500px) {
  .analytics__table-heading {
    padding-bottom: 8px;
  }
}