.commits__heading {
  margin: 0 0 64px calc(100% / 6.8 - 22px);
  max-width: calc(100vw / 1.9);
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  grid-area: a;
}

@media screen and (max-width: 768px) {
  .commits__heading {
    margin-bottom: 32px;
    max-width: 336px;
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 640px) {
  .commits__heading {
    margin-left: 16px;
  }
}

@media screen and (max-width: 500px) {
  .commits__heading {
    margin-bottom: 16px;
    width: 100%;
    line-height: 40px;
  }
}
