.commits__card-name {
  width: 100%;
  margin: 4px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .commits__card-name {
    font-size: 20px;
  }
}