@import url(./_one/analytics__table-value_one.css);
@import url(./_two/analytics__table-value_two.css);
@import url(./_three/analytics__table-value_three.css);
@import url(./_four/analytics__table-value_four.css);
@import url(./_five/analytics__table-value_five.css);
@import url(./_six/analytics__table-value_six.css);
@import url(./_seven/analytics__table-value_seven.css);


.analytics__table-value {
  min-width: fit-content;
  height: 19px;
  padding: 5px 6px 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  background: #2F71E5;
  color: white;
}