<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Дмитрий Трипольский">
  <meta name="description" content="Сайт для подбора актуальных новостей по запросу пользователя">
  <title>News Analyzer - About</title>
  <!-- <link rel="icon" type="image/svg" href="<%=require('./images/favicon.svg').default%>"> -->
  <link rel="stylesheet" href="./pages/about.css">
  <!-- <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>"> -->
</head>
<body>
  <div class="page">
    <header class="header header_light cut-section">
      <h1 class="header__title">
        NewsAnalyzer
      </h1>
      <nav class="header__nav">
        <ul class="header__nav-list">          
          <li class="header__nav-item">
            <a href="./main.html" class="header__nav-text"> 
              Главная
            </a>
          </li>
          <li class="header__nav-item header__nav-item_active">
            <a href="./about.html" class="header__nav-text header__nav-text_active">
              О проекте
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="for-clients cut-section">
        <h2 class="for-clients__heading">
          Клиентам
        </h2>
        <p class="for-clients__text">
          Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент, какими технологиями владеет.
        </p>
        <p class="for-clients__text">
          Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.
        </p>
        <p class="for-clients__text">
          Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.
        </p>
        <p class="for-clients__text">
          При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если посетители — пользователи старых операционных систем, у них не будет проблем с отображением. А значит, потенциальная аудитория возрастает. 
        </p>
        <p class="for-clients__text">
          Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем обратиться к этому студенту.
        </p>
      </section>
      <section class="technologies cut-section">
        <h2 class="technologies__heading">
          Используемые технологии
        </h2>
        <ul class="technologies__list">
          <li class="technologies__list-item">
            <h3 class="technologies__name">
              HTML
            </h3>
            <img src="./images/html.svg" alt="Логотип HTML" class="technologies__pic">
          </li>
          <li class="technologies__list-item">
            <h3 class="technologies__name">
              CSS
            </h3>
            <img src="./images/css.svg" alt="Логотип CSS" class="technologies__pic">
          </li>
          <li class="technologies__list-item">
            <h3 class="technologies__name">
              Java Script
            </h3>
            <img src="./images/js.svg" alt="Логотип JavaScript" class="technologies__pic">
          </li>
          <li class="technologies__list-item">
            <h3 class="technologies__name">
              Webpack
            </h3>
            <img src="./images/webpack.svg" alt="Логотип Webpack" class="technologies__pic">
          </li>
        </ul>
      </section>
      <section class="about cut-section">
        <img src="./images/author.jpg" alt="Фото автора" class="about__photo">
        <div class="about__text-container">
          <h2 class="about__heading">
            Об авторе
          </h2>
          <p class="about__text">
            Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете. 
          </p>
          <p class="about__text">
            Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.
          </p>
        </div>
      </section>
      <section class="commits cut-section">
        <div class="commits__text-container">
          <h2 class="commits__heading">
            История коммитов из GitHub
          </h2>
          <a href="https://github.com/dontstain/news-analyzer/commits/master" class="commits__link link">
            Открыть в  Github  <img src="./images/arrow.svg" alt="Стрелка вправо" class="commits__arrow">
          </a>
        </div>

        <!-- <button class="commits__mobile-link">
          Открыть в  Github
        </button> -->
      </section>
    </main>

    <footer class="footer cut-section">
        <p class="footer__credits">
          © 2019  Supersite
        </p>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="./main.html" class="link">
                Главная
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="./about.html" class="link">
                О проекте
              </a>
            </li>
            <li class="footer__nav-item">
                <a href="https://praktikum.yandex.ru/" class="link">
                Яндекс.Практикум
              </a>
            </li>
          </ul>
        </nav>
        <div class="footer__socials">
          <a href="https://github.com/dontstain" class="link">
            <img src="./images/github.svg" alt="Логотип GitHub" class="footer__icon">
          </a>
          <a href="https://www.facebook.com/profile.php?id=100004625556968" class="link">
            <img src="./images/facebook.svg" alt="Логотип Facebook" class="footer__icon">
          </a>            
        </div>
      </footer>
  </div>  
  <!-- <script src="<%= htmlWebpackPlugin.files.chunks.about.entry %>"></script> -->
</body>
</html>