<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Дмитрий Трипольский">
  <meta name="description" content="Сайт для подбора актуальных новостей по запросу пользователя">
  <title>News Analyzer - Analytics</title>
  <link rel="icon" type="image/svg" href="<%=require('./images/favicon.svg').default%>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.analytics.css %>">
</head>
<body>
  <div class="page">
    <header class="header header_light cut-section">
      <h1 class="header__title">
        NewsAnalyzer
      </h1>
      <nav class="header__nav">
        <ul class="header__nav-list">          
          <li class="header__nav-item">
            <a href="./index.html" class="header__nav-text"> 
              Главная
            </a>
          </li>
          <li class="header__nav-item">
            <a href="./about.html" class="header__nav-text">
              О проекте
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="statistics cut-section">
        <p class="statistics__location">
          Главная / <span class="statistics__sublocation">Аналитика</span> 
        </p>
        <h2 class="statistics__heading">
          <!-- Вы спросили: «...» -->
        </h2>
        <dl class="statistics__stats">

          <div class="statistics__stats-item">
            <dt class="statistics__stats-name">
              Новостей за неделю:
            </dt>
            <dd class="statistics__stats-number" id="total">
              <!-- Пространство для количества новостей по запросу -->
            </dd>
          </div>

          <div class="statistics__stats-item">
            <dt class="statistics__stats-name">
              Упоминаний в заголовках:
            </dt>
            <dd class="statistics__stats-number" id="inTitles">
              <!-- Пространство для количества упоминаний запроса в заголовках -->
            </dd>
          </div>

        </dl>
      </section>
      <section class="analytics cut-section">
        <h2 class="analytics__heading">
          Аналитика по дням
        </h2>
        <table class="analytics__table">
          <thead class="analytics__table-header">
            <tr class="analytics__table-header-row">
              <th class="analytics__table-heading" id="dateTitle">
                Дата (август)
              </th>
              <th class="analytics__table-heading" colspan="5">
                Кол-во упоминаний
              </th>
            </tr>
            <tr class="analytics__table-row">
              <td class="analytics__table-cell">
              </td>
              <th class="analytics__table-subheading">
                0
              </th>
              <th class="analytics__table-subheading">
                25
              </th>
              <th class="analytics__table-subheading">
                50
              </th>
              <th class="analytics__table-subheading">
                75
              </th>
              <th class="analytics__table-subheading">
                100
              </th>
            </tr>
          </thead>

          <tbody class="analytics__table-body">
            <tr class="analytics__table-row">
              <th class="analytics__table-date analytics__table-date_first" scope="row" id="one">
                19, пн
              </th>
              <td class="analytics__table-amount analytics__table-amount_first" colspan="5">
                <div class="analytics__table-value analytics__table-value_one" id="valueOne">
                  15
                </div>
              </td>
            </tr>
            <tr class="analytics__table-row">
              <th class="analytics__table-date" scope="row" id="two">
                20, вт
              </th>
              <td class="analytics__table-amount" colspan="5">
                <div class="analytics__table-value analytics__table-value_two" id="valueTwo">
                  18
                </div>
              </td>
            </tr>
            <tr class="analytics__table-row">
              <th class="analytics__table-date" scope="row" id="three">
                21, ср
              </th>
              <td class="analytics__table-amount" colspan="5">
                <div class="analytics__table-value analytics__table-value_three" id="valueThree">
                  11
                </div>
              </td>
            </tr>
            <tr class="analytics__table-row">
              <th class="analytics__table-date" scope="row" id="four">
                22, чт
              </th>
              <td class="analytics__table-amount" colspan="5">
                <div class="analytics__table-value analytics__table-value_four" id="valueFour">
                  39
                </div>
              </td>
            </tr>
            <tr class="analytics__table-row">
              <th class="analytics__table-date" scope="row" id="five">
                23, пт
              </th>
              <td class="analytics__table-amount" colspan="5">
                <div class="analytics__table-value analytics__table-value_five" id="valueFive">
                  45
                </div>
              </td>
            </tr>
            <tr class="analytics__table-row">
              <th class="analytics__table-date" scope="row" id="six">
                24, сб
              </th>
              <td class="analytics__table-amount" colspan="5">
                <div class="analytics__table-value analytics__table-value_six" id="valueSix">
                  73
                </div>
              </td>
            </tr>
            <tr class="analytics__table-row">
              <th class="analytics__table-date analytics__table-date_last" scope="row" id="seven">
                25, вс
              </th>
              <td class="analytics__table-amount analytics__table-amount_last" colspan="5">
                <div class="analytics__table-value analytics__table-value_seven" id="valueSeven">
                  34
                </div>
              </td>
            </tr>
          </tbody>
          
          <tfoot class="analytics__table-footer">
            <tr class="analytics__table-row">
              <td class="analytics__table-cell">
              </td>
              <th class="analytics__table-subheading">
                0
              </th>
              <th class="analytics__table-subheading">
                25
              </th>
              <th class="analytics__table-subheading">
                50
              </th>
              <th class="analytics__table-subheading">
                75
              </th>
              <th class="analytics__table-subheading">
                100
              </th>
            </tr>
          </tfoot>
        </table>
      </section>
    </main>

    <footer class="footer cut-section">
        <p class="footer__credits">
          © 2019  Supersite
        </p>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="./index.html" class="link">
                Главная
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="./about.html" class="link">
                О проекте
              </a>
            </li>
            <li class="footer__nav-item">
                <a href="https://praktikum.yandex.ru/" class="link" target="_blank">
                Яндекс.Практикум
              </a>
            </li>
          </ul>
        </nav>
        <div class="footer__socials">
          <a href="https://github.com/dontstain" class="link" target="_blank">
            <img src="<%=require('./images/github.svg').default%>" alt="Логотип GitHub" class="footer__icon">
          </a>
          <a href="https://www.facebook.com/profile.php?id=100004625556968" class="link" target="_blank">
            <img src="<%=require('./images/facebook.svg').default%>" alt="Логотип Facebook" class="footer__icon">
          </a>            
        </div>
      </footer>

  </div>
  <script src="<%= htmlWebpackPlugin.files.chunks.analytics.entry %>"></script>
</body>
</html>