.technologies__list-item {
  margin-right: calc(100vw / 36);
  text-align: center;
}

@media screen and (max-width: 1145px) {
  .technologies__list-item {
    margin-right: calc((100% - 480px - 100vw / 48) / 3);
  }
}

@media screen and (max-width: 500px) {
  .technologies__list-item {
    margin-right: 0;
  }
}