@import url(./__heading/technologies__heading.css);
@import url(./__list/technologies__list.css);
@import url(./__pic/technologies__pic.css);
@import url(./__list-item/technologies__list-item.css);
@import url(./__name/technologies__name.css);

.technologies {
  display: flex;
  padding-top: 80px;
  background: #F5F6F7;
}

@media screen and (max-width: 1145px) {
  .technologies {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .technologies {
    padding-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .technologies {
    padding-top: 32px;
  }
}